body {
     direction: rtl;
  unicode-bidi: embed;
}

#sidebar h3 span {

  padding: 0 0px 10px 10px;
}

.widget ul li {
  background: url("images/li.png") no-repeat scroll right 18px transparent;
  padding: 7px 15px 0 0;
}
#gototop {
  float: left;
}

.purerecipe.tearedh .recipe-image, .purerecipe.teared .recipe-image {
    right: auto;
    left:20px;
}
.purerecipe.teared #recipe-add-data,
.purerecipe.tearedh #recipe-add-data {
    right: auto;
    left: 20px;
}
.purerecipe.minimal .recipe-image,
.purerecipe.elegant .recipe-image {
    float:left
}